/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
/node_modules
/bower_components
/resources/public/js/cljs
/resources/public/js/main.js
/resources/public/css/style.css
.nrepl-port
.repl
.lein-repl-history
db/levee.dev.db
profiles.clj
db/levee.db
bin/levee
figwheel_server.log